/* .dropDown{
    margin: 10px;
} */

.selectOption{
    margin:0px 25px;
}
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading{
    border-color: green !important;   
}
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch{
    border-color: green !important;
}
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing{
    border-color: green !important;
}
::ng-deep .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label{
    color: green !important;
}
::ng-deep .mat-primary .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text{
    color: green !important;
}
::ng-deep .mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after{
    color: green !important;
}